!!!
%html
  %head
    %title dog not god
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}

  
  %body
    #header
    #content
      %h1="dog not god <br/><span style='font-size: 0.4em'>server health monitoring simplified</span>"
      =yield
    #footer
      %p 
        %a{ :href => "http://github.com/spoosix/dognotgod" } dog not god
        is released under the 
        %a{ :href => "http://www.gnu.org/licenses/gpl.html" } GPL license
      
