!!!
%html
  %head
    %title dog not god
    %link{:rel=>'stylesheet', :href=>'/stylesheets/style.css', :type => "text/css"}
    %script{:src => "http://www.google.com/jsapi"}
    %script google.load("jquery", "1");
    %script{:src => "/javascripts/flot/jquery.flot.pack.js"}

  
  %body
    #header
    #content
      %h1 dog not god
      =yield
    #footer
      %p 
        %a{ :href => "http://github.com/luiscorreadalmeida/dog" } dog not god
        is released under the 
        %a{ :href => "http://www.gnu.org/licenses/gpl.html" } GPL license
      
