!!! XML
%chart
  %series
    -i=0
    -@time_range.step(300) do |five|
      %value{:xid => i+=1}
        =five.to_minute_format
  %graphs
    %graph{:gid => "1"}
      -i=0
      -load = Array.new(@loads)
      -@time_range.step(300) do |five|
        %value{:xid => i+=1}= load.shift[:load_5_min] if load.size > 0 and load[0][:grain_5_min].to_minute_format == five.to_minute_format
    %graph{:gid => "2"}
      -i=0
      -load = Array.new(@loads)
      -@time_range.step(300) do |five|
        %value{:xid => i+=1}= load.shift[:load_10_min] if load.size > 0 and load[0][:grain_5_min].to_minute_format == five.to_minute_format
    %graph{:gid => "3"}
      -i=0
      -load = Array.new(@loads)
      -@time_range.step(300) do |five|
        %value{:xid => i+=1}= load.shift[:load_15_min] if load.size > 0 and load[0][:grain_5_min].to_minute_format == five.to_minute_format