body
  :margin 0
  :padding 0
  :font-family Courier
  :font-size 1.0em

a, a:visited
  :color #AAA

h1, h2, h3, h4, h5, h6
  :font-family Georgia, serif
  :font-weight normal
  :margin 0px 0px 10px 0px

h1
  :padding-bottom 10px
  :margin-bottom  30px
  :border-bottom double #DDDDDD

h2
  :text-decoration underline
  
h4
  :margin 20px 10px 0px 5px
  :padding 5px
  :background-color #EFEFEF

#header
  :height 10px
  :background-color #EFEFEF
  :margin-bottom 20px

#content
  :margin 0px 30px 10px 20px

#summary-section
  :font-size 0.7em
  :margin-bottom 30px
  :padding-bottom 20px
  :border-bottom 1px solid #DDD

#summary-table
  :border-top 1px solid #DDD
  :border-left 1px solid #DDD
  
  
#summary-table tr.level5
  :background-color #99FF99

#summary-table tr.level3
  :background-color #999933
  
#summary-table tr.level1
  :background-color #DD3333
  
#summary-table tr.level0
  :background-color #EFEFEF
  
#summary-table th, #summary-table td
  :border-bottom 1px solid #DDD  
  :border-right 1px solid #DDD
  

#summary-table th
  :background-color #EFEFEF
  :padding-left 15px
  :padding-right 15px

#summary-table td
  :padding-left 5px
  :padding-right 5px

#section-table
  :border 0px

.section
  :margin-bottom 20px
  :margin-left 20px
  :border-right 1px solid #DDD
  
p
  :font-size 0.7em
  :margin 0px
  :padding 0px

#footer
  :margin-top 20px
  :clear both
  :width 100%
  :padding 10px
  :color #AAA
  :text-align left
  :z-index 9
  :font-family sans-serif
  :text-align center



#footer_fixed
  :display none
  :clear both
  :position fixed
  :bottom 0
  :left 0
  :width 100%
  :padding 10px
  :color #AAA
  :text-align left
  :z-index 9
  :background-color #EFEFEF
  :border-top 1px solid #CCC
  :font-family sans-serif
  :text-align center

